{% extends "admin_dashboard/base.html" %}

{% block content %}
  <h2 class="text-2xl font-bold mb-4">All Ads</h2>

  <a href="{% url 'admin_dashboard:add_ad' %}" class="bg-blue-500 text-white py-2 px-4 rounded">Add New Ad</a>

  <ul class="mt-4">
    {% for ad in ads %}
      <li class="mb-4">
        <img src="{{ ad.image.url }}" alt="Ad Image" class="max-w-full h-auto">
        <div class="mt-2">
          <a href="{% url 'admin_dashboard:edit_ad_image' ad.campaign_id %}" class="text-blue-500 mr-4">Edit Image</a>
          <a href="{% url 'admin_dashboard:delete_ad' ad.campaign_id %}" class="text-red-500">Delete</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}