{% extends 'base.html' %}

{% block title %}Conversation{% endblock %}

{% block content %}
<div class="space-y-6 px-36 py-12 text-sm w-1/2 mx-auto">
    {% for message in chat.messages.all %}
        <div class="p-6 flex {% if message.created_by == request.user %}bg-blue-100{% else %}bg-gray-100{% endif %} rounded-xl">
            <div>
                <p class="mb-4 capitalize"><strong>{{ message.created_by.username }}</strong> @ {{ message.created_at }}</p>
                <p>{{ message.message }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<form method="post" action="." class="mt-6 px-36 py-12 text-sm w-1/2 mx-auto">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="text-gray-900 focus:outline-none rounded text-sm h-12 w-fit text-center inline-flex items-center w-full mt-6">
            <div
                class="h-full flex items-center justify-center bg-[#26D7CE] rounded-l px-3"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
            <div
                class="h-full w-full flex items-center justify-center bg-[#23E5DB] rounded-r px-4"
            >
                <span class="uppercase font-semibold uppercase">Send</span>
            </div>
    </button>
</form>
{% endblock %}